/* Basic CSS placeholder for Hyperspace template */
/* This would typically contain the full Hyperspace CSS framework */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    width: 100%;
}

.wrapper {
    padding: 2em 0;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 2em 0;
}

.button {
    display: inline-block;
    padding: 0.75em 1.5em;
    background: #e44c65;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25em;
    transition: 0.25s ease;
}

.button:hover {
    background: #d63850;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    padding: 1em;
    z-index: 999;
}

#header .title {
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

#header nav {
    float: right;
}

#header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1em;
}

#header nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Footer */
#footer {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
}

#footer .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer .menu li {
    display: inline-block;
    margin: 0 1em;
}

/* Responsive */
@media (max-width: 768px) {
    .inner {
        padding: 0 1em;
    }
    
    #header nav {
        float: none;
        text-align: center;
    }
}