/* NoScript CSS - fallback styles when JavaScript is disabled */
body {
    overflow-x: hidden;
}

#sidebar {
    display: none;
}

#wrapper {
    padding-left: 0;
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 13pt;
    }
}

@media screen and (max-width: 736px) {
    body {
        font-size: 12pt;
    }
}